<img src="https://thumbs.dreamstime.com/z/white-bowl-nigerian-dish-garri-eba-oha-soup-cooked-assorted-meat-beef-dried-fish-cow-belly-shaki-decorated-green-191916788.jpg" alt="Sample Picture">
<p>Hey {{ name }},</p>
<p>Welcome to <em>EverythingMeal</em></p>
<p>We are so happy to have you here {{ name }}, <em>EverythingMeal</em> was founded because we wanted to create a trustworthy and inspiring place for you to find all you need to eat and live well.</p>
{{!-- <p>Please do so to unlock the amazing offers that we have prepared for you</p>>
<p>Please click the <em>Confirm</em>> button below.</p>>
<p>
    <a href="{{ url }}">Confirm</a>
</p> --}}
<p>We believe that <em>EverythingMeal</em> will make a difference for you too by appropriately satisfying those cravings.</p>
<p>Thank you for joining us on this journey of ours.</p>
<p>We look forward to hearing your testimonies too</p>

<p>If you did not request this email you can safely ignore it.</p>
